body {
  margin: 0;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* zoom: 75%; */
}

input,
button {
  -webkit-appearance: none;
}
* {
  font-family: "PT Sans", sans-serif;
}
